.main-section{
  padding-top: 65px;
  padding-bottom: 85px;
  @include bp(md){
    padding-bottom: 50px;
  }
  @include bp(xs){
    padding-top: 45px;
    padding-bottom: 30px;
  }
}

.main-wrapper{
  display: flex;
  @include bp(md){
    flex-direction: column;
  }
}

.main-txt{
  padding-top: 186px;
  width: 500px;
  min-width: 500px;
  @include bp(lg){
    padding-top: 46px;
  }
  @include bp(md){
    width: 100%;
  }
  @include bp(xs){
    min-width: unset;
    padding-top: 30px;
  }
  .btn{
    width: 176px;
  }
}

.main-title{
  display: block;
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 58.5056px;
  line-height: 68px;
  color: $black;
  position: relative;
  @include bp(lg){
    font-size: 48px;
    line-height: 58px;
  }
  @include bp(xs){
    font-size: 28px;
    line-height: 38px;
  }
  >svg{
    position: absolute;
    left: 7px;
    bottom: calc(100% + 34px);
    @include bp(xs){
      left: 0;
      bottom: calc(100% + 22px);
    }
  }
}

.main-descr{
  font-size: 16px;
  line-height: 205%;
  margin-bottom: 50px;
  @include bp(xs){
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 30px;
  }
}

.main-pic{
  @include bp(md){
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  @include bp(xs){
    display: flex;
    width: auto;
    flex: 1 0 auto;
    margin: 30px -5vw 0;
  }
  img{
    @media only screen and (max-width: 1359px){
      max-width: 100%;
    }
  }
}