.product-section{
  padding: 60px 0 65px;
  @include bp(xs){
    padding: 20px 0 30px;
  }
}

.product-wrapper{
  display: flex;
  @include bp(md){
    flex-direction: column;
  }
}

.product-slider{
  width: 475px;
  padding-top: 11px;
  @include bp(lg){
    width: 375px;
  }
  @include bp(md){
    width: 475px;
    margin: 0 auto 40px;
  }
  @include bp(xs){
    width: calc(100vw - 30px);
  }
  .slick-list{
    overflow: visible;
  }
  &:before{
    position: absolute;
    content: '';
    border-radius: 376px 376px 0 0;
    border: 2px solid $purple;
    border-bottom: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 355px;
    @include bp(xs){
      height: calc(110vw - 50px);
    }
  }
  .slide{
    position: relative;
  }
  .slide-pic{
    width: 450px;
    height: 653px;
    margin: 0 auto;
    border-radius: 376px 376px 0 0;
    overflow: hidden;
    @include bp(lg){
      width: 350px;
      height: 580px;
    }
    @include bp(md){
      width: 450px;
      height: 653px;
    }
    @include bp(xs){
      width: calc(100vw - 50px);
      height: calc(140vw - 50px);
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .slide-label{
    width: 113px;
    height: 113px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 36px;
    right: -48px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 5.22371px 15.6711px 31.3423px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    @include bp(lg){
      width: 80px;
      height: 80px;
    }
    @include bp(md){
      width: 113px;
      height: 113px;
    }
    @include bp(xs){
      padding: 12px;
      right: 20px;
      bottom: 10px;
      width: 60px;
      height: 60px;
    }
    >img{
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
  .slide-label__inner{
    position: absolute;
    top: -16px;
    left: -21px;
    z-index: 1;
    width: 50px;
    height: 50px;
    box-shadow: 3.13423px 6.26845px 10.4474px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    @include bp(xs){
      width: 40px;
      height: 40px;
    }
    >svg{
      width: 23px;
      @include bp(xs){
        width: 20px;
      }
    }
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    margin-top: 12px;
    li{
      margin: 0 2px;
      display: flex;
      &.slick-active{
        button{
          background: $gradient;
        }
      }
      button{
        width: 9.4px;
        height: 9.4px;
        background: #E2E2E2;
        border-radius: 1.04474px;
        font-size: 0;
        padding: 0;
        border: none;
      }
    }
  }
}

.product-text{
  padding-top: 96px;
  padding-left: 148px;
  width: calc(100% - 475px);
  position: relative;
  @include bp(lg){
    width: calc(100% - 375px);
    padding-top: 66px;
    padding-left: 88px;
  }
  @include bp(md){
    width: 100%;
    padding-left: 0;
  }
  .section-pretitle{
    margin-bottom: 6px;
  }
  .section-title{
    margin-bottom: 20px;
  }
}

.product-bg{
  position: absolute;
  top: -69px;
  right: -163px;
  @include bp(md){
    top: -30px;
  }
  @include bp(xs){
    top: -10px;
    right: -200px;
    opacity: .5;
  }
}

.product-descr{
  font-size: 16px;
  line-height: 37px;
  margin-bottom: 75px;
  @include bp(xs){
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 0;
  }
  strong{
    font-weight: 700;
  }
}

.product-footer{
  display: flex;
  align-items: center;
  @include bp(xs){
    flex-direction: column;
  }
  .btn{
    width: 176px;
    margin-right: 45px;
    @include bp(xs){
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}

.product-video__btn{
  display: flex;
  align-items: center;
  cursor: pointer;
  i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35.52px;
    height: 35.52px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid rgba($purple, .5);
    svg{
      position: relative;
      right: -1px;
    }
  }
  span{
    font-weight: 500;
    font-size: 16.7159px;
    line-height: 20px;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &:hover{
    span{
      background: $reverse-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}