.brands-section{
  padding: 50px 0 30px;
  @include bp(xs){
    padding: 25px 0;
  }
}

.brands-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.brand-item{
  margin: 0 23px 20px;
  height: 24px;
  @include bp(xs){
    margin: 0 15px 20px;
  }
  img{
    max-height: 100%;
    object-fit: contain;
  }
}