.article-content {
  padding: 0 30px;
  margin-bottom: 78px;
  @media (max-width: 767px) {
    padding: 0;
  }
  & p {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 27px;
    color: $text-content;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 140%;
    }
  }
  & h2 {
    margin: 0;
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 27px;
    color: $purple;
    font-family: $gilroy;
    font-weight: 600;
    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 140%;
    }
  }
}

.article-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 63px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: space-between;
  @media (max-width: 1359px) {
    max-width: 925px;
  }
  @media (max-width: 1199px) {
    max-width: 630px;
  }
  @media (max-width: 767px) {
    justify-content: center;
    padding: 0;
  }

  > div {
    max-width: 268px;
    max-height: 268px;
    border-radius: 15px;
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
