.blog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 42px;
}

.blog-item a {
  display: flex;
  justify-content: center;
  gap: 62px;
  margin-bottom: 43px;
  border-radius: 15px;
  text-decoration: none;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 70px rgba(#000, 0.12);

  &:hover .blog-item__bottom svg path {
    fill: $purple;
  }
  @media (max-width: 991px) {
    gap: 20px;
  }
  @media (max-width: 767px) {
    max-width: 600px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    gap: 0;
  }
  & .blog-item__pic {
    flex-grow: 1;
    max-width: 576px;
    @media (max-width: 991px) {
      max-width: 362px;
    }
    @media (max-width: 767px) {
      max-width: 100%;
    }
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .blog-item__about {
    padding: 40px 0;
    padding-right: 56px;
    @media (max-width: 991px) {
      padding: 20px 0;
      padding-right: 20px;
    }
    @media (max-width: 767px) {
      padding: 20px;
    }
    > span {
      display: block;
      margin-bottom: 11px;
      font-family: $gilroy;
      font-size: 18px;
      line-height: 27px;
      font-weight: 500;
      color: $purple;
      @media (max-width: 991px) {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
      }
    }
    > h2 {
      margin: 0;
      margin-bottom: 30px;
      font-family: $gilroy;
      font-size: 30px;
      line-height: 36px;
      font-weight: 600;
      color: $black;
      @media (max-width: 991px) {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 26px;
      }
    }
    > p {
      margin: 0;
      margin-bottom: 40px;
      font-family: $gilroy;
      font-size: 18px;
      line-height: 33px;
      font-weight: 500;
      color: rgba($text, 0.8);
      @media (max-width: 991px) {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 18px;
      }
    }
    & .blog-item__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      &-person {
        display: flex;
        align-items: center;
        &-img {
          width: 65px;
          height: 65px;
          margin-right: 18px;
          border-radius: 50%;
          overflow: hidden;
          @media (max-width: 991px) {
            width: 40px;
            height: 40px;
          }
          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &-inner {
          > b {
            display: block;
            font-family: $gilroy;
            font-size: 21px;
            line-height: 33px;
            font-weight: 600;
            color: $black;
            @media (max-width: 991px) {
              font-size: 18px;
              line-height: 21px;
            }
            @media (max-width: 575px) {
              font-size: 14px;
            }
          }
          > span {
            display: block;
            font-family: $gilroy;
            font-size: 16px;
            line-height: 25px;
            font-weight: 500;
            color: rgba($text, 0.8);
            @media (max-width: 991px) {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }
      }
      > span {
        @media (max-width: 991px) {
          > svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  & a {
    font-family: $gilroy;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    text-decoration: none;
    color: #7e7e7e;

    &:hover {
      color: $purple;
      & svg path {
        stroke: $purple;
      }
    }
  }

  & span.current {
    color: $black;
  }

  & div:first-child {
    margin-right: 32px;
  }
  & div:last-child {
    margin-left: 32px;
  }
}
