.policy-section{
  padding-bottom: 50px;
  @include bp(xs){
    padding-bottom: 30px;
  }
  .page-top-title{
    svg{
      display: block;
      margin: 0 auto 25px;
    }
  }
}

.policy-menu{
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 45px;
  li{
    margin: 4px 25px;
    span{
      display: block;
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: relative;
      &:after{
        position: absolute;
        content: '';
        width: 76px;
        height: 1.5px;
        background: $gradient;
        left: 0;
        top: calc(100% + 6px);
      }
    }
    a{
      display: block;
      color: $black;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.policy-text{
  font-size: 16px;
  line-height: 150%;
  color: #616161;
  h2{
    margin: 30px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: $black;
  }
  a{
    text-decoration: none;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover{
      background: $reverse-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p{
    margin-bottom: 24px;
  }
  ul{
    list-style-type: disc;
    padding-left: 18px;
    margin-bottom: 24px;
  }
  ol{
    list-style-type: decimal;
    padding-left: 18px;
    margin-bottom: 24px;
  }
}

.policy-footer{
  text-align: center;
  margin-top: 60px;
  @include bp(xs){
    margin-top: 40px;
  }
  >p{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 23px;
    color: $purple;
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .btn{
    margin: 0 auto;
    width: 176px;
  }
}