// Переменные для приложения и всех модулей

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$black: #2b2a35;
$text: #686868;
$text-content: #7c8087;
$purple: #8850f4;
$gradient: linear-gradient(90.89deg, #8850f4 0.67%, #6959fc 99.24%);
$reverse-gradient: linear-gradient(90.89deg, #6959fc 0.67%, #8850f4 99.24%);
$default: "Poppins";
$menu: "CeraPro";
$gilroy: "Gilroy";
