// Переменные для приложения и всех модулей

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$formBorder: none;
$formBorderRadius: 0;
$inputBorderRadius: 0;
$black: #2B2A35;
$text: #686868;
$purple: #8850F4;
$gradient: linear-gradient(90.89deg, #8850F4 0.67%, #6959FC 99.24%);
$reverse-gradient: linear-gradient(90.89deg, #6959FC 0.67%, #8850F4 99.24%);
$default: 'Poppins';
$menu: 'CeraPro';